<footer>
  <div class="footer-brand">
    <a href="#" class="logo">
      <img src="/images/logo.jpg" width="50" height="37" loading="lazy" alt="Aurora-logo">
    </a>
    
    <p class="footer-text">
      &copy; <%=new Date().getFullYear() %>
      Made with Aurora's ❤️ | Created by Jothiprasath. All Rights Reserved.
    </p>
  </div>
</footer>