<title>Aurora Blog</title>
<link rel="stylesheet" href="/styles/post-creation.css">


<header class="site-header">
    <div class="site-identity">
        <h1>
            <img src="/images/logo.jpg" width="50" height="37" alt="Aurora-logo">
            <a href="/">Aurora Blog</a>
        </h1>
    </div>
    <nav class="site-navigation">
        <ul class="nav">
            <li>
                <a href="/post">Create post</a>
            </li>
            <li>
                <a href="/blogDetails">Your Blog</a>
            </li>
            <li>
                <a href="/home">Home</a>
            </li>
        </ul>
    </nav>
</header>
