<!--View the users Blogs-->

<%- include("partials/header") %>

<div class="blog-content">
    <h1 class="blog-title"> <%= blog.title %> </h1>
    <p class="blog-description"> <%= blog.description %> </p>
</div>

<%- include("partials/footer") %>
